/* CSS Document */

body {
	text-align:left; /* Hack for IE5/Win */
	background-color: #FBFBFB; /* light gray outside content box */
}
#content {
  width: 1200px; 
	margin:20px auto; /* Right and left margin widths set to "auto" */
	text-align:left; /* Counteract to IE5/Win Hack */
	border: 1px solid #aaa;
	background-color: #eee; /* white background within content box */
}
h1 {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 22px;
	margin-left: 20px;
}
h2 {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 20px;
	margin-left: 20px;
}
li,p{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	margin-left: 20px;
	margin-right: 20px;
}
td,th{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 16px;
	margin-left: 20px;
	margin-right: 20px;
}
div{
    font-family: Arial, Verdana, Helvetica, sans-serif;
}
footer{
    font-family: Arial, Verdana, Helvetica, sans-serif;
    text-align:center;
    font-size: 12px;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#logo{
    display: block;
    margin-left: 10px;
}

h1.keys {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 9px;
	line-height: 9px;
	color: #dde;
	padding: 0; border: 0;
	margin: 10px auto;
	text-align: center;
	width: 610px;
}
a.smalllnk {color:gray;}
a.smalllnk:link {color:gray; text-decoration: none;}
a.smalllnk:visited {color:gray; text-decoration: none;}
a.smalllnk:active {color:gray; text-decoration: none;}
a.smalllnk:hover {color:blue; text-decoration: underline; }

a.akeys {color:#dde;}
a.akeys:link {color:#dde; text-decoration: none;}
a.akeys:visited {color:#dde; text-decoration: none;}
a.akeys:active {color:#dde; text-decoration: none;}
a.akeys:hover {color:#dde; text-decoration: none; }

