{% extends "neuroelectro/base.html" %}
{% block title %}NeuroElectro :: Send an email to all subscribers{% endblock %}
{% block headerIncludes %}
<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.css"> 
<script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}src/DataTables/media/js/jquery.js"></script>
<style>
	.form-actions {
		background-color: #EEE;
	}
	
	h1,
	.h1 {
		font-size: 30px;
		margin-left: 30px;
	}
	
	select,
	textarea,
	input[type="text"],
	.uneditable-input {
	  display: inline-block;
	  width: 840px;
	  height: 27px;
	}
</style>
{{ form.media }}
{% endblock %}

{% block javascripts %}
<script>
$(document).ready(function(){
	$(".fancybox").fancybox();
	
    $('#id-admin_list_email_form').submit("click", function(event){
        event.preventDefault(); // cancel the default action
        var form = this;
        $("#testform").serialize()
        var post_url = '{% url 'neuroelectro.views.admin_list_email' %}';
        console.log(post_url);
        var csrf_token = $('[name="csrfmiddlewaretoken"]').val();
        form['csrf_token'] = csrf_token;
        event.preventDefault();
    });
});
</script>
{% endblock %}

{% block content %}
<h1>Email all subscribers</h1>
{% load crispy_forms_tags %}
<div class="container">
	<div class='row'>
		<div class='span12'>{% crispy form %}</div>
	</div>  
</div>
<span id='appearance'></span>
{% endblock %}