{% extends "neuroelectro/base.html" %}
{% block headerIncludes %}
	<script src="http://code.jquery.com/jquery-latest.min.js"
        type="text/javascript"></script>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">

	/*
    $(document).ready(function() {
        $('#post_form').submit(function(event){
            event.preventDefault(); // cancel the default action
            var form = this;
            var data = {}
            data.post_data = $(form).find('#textbox').val();
            data.csrfmiddlewaretoken =  '{{ csrf_token }}';
            // suppose our django app called 'testapp'
            $.post("/neuroelectro/post_test/",
                data,
                function(responseData) {
                	var outputText = responseData.response
                	//alert(responseData.response);
                	$("#outputtext span").text(outputText);
                }
            );
        });
    });*/

    var search_term;
    var ret_data;
	$(document).ready(function() {
		$('#pubmed_search').submit(function(event){
			search_term = $(this).find('#textbox').val();
			console.log(search_term);
			event.preventDefault(); // cancel the default action
			args = {'apikey' : '***REMOVED***',
					'db'     : 'pubmed',
					'term'   : search_term,
					'retmax' : 20,          // maximum number of results from Esearch
					'max'    : 10,          // maximum number of results passed to Esummary
					'start'  : 0};
			ret_data = $.getJSON('http://entrezajax.appspot.com/esearch+esummary?callback=?', args, function(data) {
				$('#result').html(data.entrezajax.count + ' results found<br/>');
				$.each(data.result, function(i, item) {
					console.log(item);
					var author_list = '';
					for(var i = 0; i < item.AuthorList.length; i ++) {
						if(i != 0) {
							author_list += ', ';
						}
						author_list += item.AuthorList[i];
					}
					var html = '<p><a href=\'http://www.ncbi.nlm.nih.gov/pubmed/' + item.ArticleIds.pubmed + '\'>' + item.Title + '</a><br/>' + author_list + '<br/>' + item.FullJournalName + ' ' + item.PubDate + '</p>';
					html += '<form class="suggest_paper"><input type="hidden" name="csrfmiddlewaretoken" value="{{token}}"><input type="submit" value="Suggest Article" id=' + item.ArticleIds.pubmed + ' /></form>';
					$("<div/>").html(html).appendTo('#result');
					$('#submit_pmid_box').attr('value', item.ArticleIds.pubmed);
				});
				$('.suggest_paper').on("click", function(event){
					event.preventDefault(); // cancel the default action
					var form = this;
					var data = {}
					var id = $(this).find('input[type=submit]').attr('id');
					data.pmid = id;
					data.csrfmiddlewaretoken =  '{{ csrf_token }}';
					console.log(data);
					// suppose our django app called 'testapp'
					$.post("/neuroelectro/post_test/",
						data,
						function(responseData) {
							var outputText = responseData.response
							alert(responseData.response);
							$("#posttext span").text(outputText);
						}
					);
				});
			});
		});
		/*$('#suggest_paper').on("click", function(event){
			suggest_event.preventDefault(); // cancel the default action
			var form = this;
			var data = {}
			var id = $(this).find('input[type=submit]').attr('id');
			data.post_data = id;
			data.csrfmiddlewaretoken =  '{{ csrf_token }}';
			console.log(data);
			// suppose our django app called 'testapp'
			$.post("/neuroelectro/post_test/",
				data,
				function(responseData) {
					var outputText = responseData.response
					alert(responseData.response);
					$("#posttext span").text(outputText);
				}
			);
			return false;
		});*/

		$('#post_test').submit(function(suggest_event){
			suggest_event.preventDefault(); // cancel the default action
			var form = this;
			var data = {}
			data.post_data = $(this).find('input[type=text]').val();
			data.csrfmiddlewaretoken =  '{{ csrf_token }}';
			console.log(data);
			// suppose our django app called 'testapp'
			$.post("/neuroelectro/post_test/",
				data,
				function(responseData) {
					var outputText = responseData.response
					alert(responseData.response);
					$("#posttext span").text(outputText);
				}
			);
		});
		$('#submit_pmid').submit(function(suggest_event){
			suggest_event.preventDefault(); // cancel the default action
			var form = this;
			var data = {}
			data.post_data = $('#submit_pmid_box').val();
			data.csrfmiddlewaretoken =  '{{ csrf_token }}';
			console.log(data);
			// suppose our django app called 'testapp'
			$.post("/neuroelectro/post_test/",
				data,
				function(responseData) {
					var outputText = responseData.response
					alert(responseData.response);
					$("#posttext span").text(outputText);
				}
			);
		});
		

	});
</script>
{% endblock %}

{% block content %}
    <form id="pubmed_search">
    {% csrf_token %}
    URL: <input type="text" name="our_text" id="textbox"/>
    <input type="submit" value="Add" />
    </form>
    <div id="outputtext"> <span ></span> </div>
    <div id="result">
	</div>
	
	<form id="submit_pmid">
	{% csrf_token %}
	<input type="submit" value="no pmid yet" id="submit_pmid_box"/>
	</form>
	
    <form id="post_test">
    {% csrf_token %}
    URL: <input type="text" name="our_text" id="postbox"/>
    <input type="submit" value="Add" />
    </form>
	<div id="posttext"> <span ></span> </div>
{% endblock %}

