{% extends "neuroelectro/base.html" %}
{% block title %}NeuroElectro :: API{% endblock %}
{% block headerIncludes %}
	<style type="text/css">
		h4 {
			margin-left:20px;
		}
	</style>
{% endblock %}

{% block content %}

	<h1>API / Data download</h1>

	<ol>
    <lh>We provide access to NeuroElectro data in two forms:</lh>
    <li>As a simple bulk download of the database content represented in Excel spreadsheets (~250Kb total). <a href='https://docs.google.com/document/d/1eeWTrr1sKDoqXJtPayBgKR9WvPwzdaXDdfat2Y_nZmY/edit?usp=sharing'>Download Link</a></li>
    <li>As a RESTful API, allowing dynamic query of the database content. <a href='https://docs.google.com/document/d/1eeWTrr1sKDoqXJtPayBgKR9WvPwzdaXDdfat2Y_nZmY/edit?usp=sharing'>RESTful API Documentation.</a></li>
    </ol>  

	<p>
		Please don't hesitate to contact us if you have questions about the data. We would love to hear how you are using it, so please get in touch.
		<!--</br> We'd love to hear your comments, so please pass them along!
		</br></br> The data is being made available under a CC-BY license, so please cite us if you use the data.  We really want to hear how you're using the data, so please don't hesitate to contact us.  We want to help!-->
	</p>
{% endblock %}