{% extends "neuroelectro/base.html" %}
{% block title %}NeuroElectro :: Article{% endblock %}

{% block content %}
<head>
<script language="JavaScript" src="{{ STATIC_URL }}src/qTip.js" type="text/JavaScript"></script>
<script language="Javascript" type="text/javascript" src="{{ STATIC_URL }}src/jquery.min.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

{% include "neuroelectro/article_title_header.html" %}

<!--<br>
{{full_text|safe}}
<br>
-->

{% include "neuroelectro/neuron_ephys_data_table_article.html" %}

<br>

{% include "neuroelectro/article_metadata_table.html" %}

{% endblock %}