{% extends "neuroelectro/base.html" %}
{% block title %}NeuroElectro :: Article{% endblock %}

{% block content %}
    <!-- Upload form. Note enctype attribute! -->
    <form action='/article_table_add/' method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>{{ table_form.non_field_errors }}</p>
        <p>{{ table_form.table_file.label_tag }} {{ table_form.table_file.help_text }}</p>
        <p>
            {{ table_form.table_file.errors }}
            {{ table_form.table_file }}
        </p>
        {{ table_form.pmid }}
        <p>{{ table_form.full_text_file.label_tag }} {{ table_form.full_text_file.help_text }}</p>
        <p>
            {{ table_form.table_file.errors }}
            {{ table_form.table_file }}
        </p>
        <p><input type="submit" value="Upload" /></p>
    </form>
{% endblock %}