{% extends "neuroelectro/base.html" %}
{% block title %}NeuroElectro :: Article Metadata{% endblock %}

{% block content %}
<head>
<script language="JavaScript" src="{{ STATIC_URL }}src/qTip.js" type="text/JavaScript"></script>
<script language="Javascript" type="text/javascript" src="{{ STATIC_URL }}src/jquery.min.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<style type="text/css">
form.blueForms div {
  display: inline-block;
  width: 240px; //small for example
}
</style>
</head>

{% include "neuroelectro/article_title_header.html" %}

{% include "neuroelectro/article_metadata_table.html" %}

<br>

{% if user.is_authenticated %}
	{% load crispy_forms_tags %}
	
	<div class="container">

		<div class='row'>
			{% crispy form %}
		</div>  
	</div>
	<br>


	<h3>Article methods section</h3>
	{{methods_html|safe}}
{% endif %}

{% endblock %}