{% extends "neuroelectro/base.html" %}
{% block title %}NeuroElectro :: Article Metadata{% endblock %}

{% block extracss %}
	<style type="text/css">
	form.blueForms div {
	  display: inline-block;
	  width: 240px; //small for example
	}
	</style>
{% endblock %}

{% block javascripts %}
<script language="javascript" type="text/javascript">
$(document).ready( function () {
    $(".fancybox").fancybox();
    $('#metadata_table').dataTable({
        "iDisplayLength": 25
    });
    var oTable = $('#metadata_table').dataTable();
    oTable.fnSort( [ [0,'asc']] );
} );
</script>
{% endblock %}

{% block content %}

{% include "neuroelectro/article_title_header.html" %}

{% include "neuroelectro/article_metadata_table.html" %}

<br>

{% if user.is_authenticated %}
	{% load crispy_forms_tags %}
	
	<div class="container">

		<div class='row'>
			{% crispy form %}
		</div>  
	</div>
	<br>


	<h3>Article methods section</h3>
	{{methods_html|safe}}
{% endif %}

{% endblock %}