<!DOCTYPE html>

<html lang="en">
<head>
    <title>{% block title %}NeuroElectro{% endblock %}</title>
    {% block stylesheets %}
    <link rel="shortcut icon" href="{{STATIC_URL}}src/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}src/local.css" />
    {% endblock %}
    {% block headerIncludes %}{% endblock %}
    <!--stuff for google tracking-->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35182339-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</head>

{% block javascripts %}{% endblock %}

<div id="content">
<body>
	{% block navbarstuff %}
	<a href="{% url neuroelectro.views.splash_page %}">
    	<img src="{{ STATIC_URL }}src/neuroelectro_logo_1.png" id="logo">
    </a>

    {% include 'neuroelectro/navbar.html' %}
    {% endblock %}

    
    {% block content %}{% endblock %}
</body>   
</div>
<div id="footer">
<footer>
    {% block footer %}
    <hr>
    <table align="center" width="1200px">
        <tr>
            <td>
                <p align="left">
                    &copy 2012 Shreejoy Tripathy - stripathy (at) cmu (dot) edu
                    <br>
                    Richard Gerkin - rgerkin (at) asu (dot) edu
                    <br> 
                    Carnegie Mellon University and University of Pittsburgh
                    
                    <!--<br>Funding: NIH, NIF, and the RK Mellon Foundation-->
                    <br>
                    <!--Optimized for Mozilla Firefox, Safari, and fast internet connections -->
                </p>
            </td>
            <td>
                {% if request and not request.user.is_anonymous %}
                {% with request.user as x %}
                <p align="left">Signed in as {% if x.email %}{{ x.email }}{% else %}{{ x.username }}{% endif %} <a class="btn btn-mini btn-primary" href="/accounts/logout">Sign Out</a></p>
                {% endwith %}
                {% elif request and request.user.is_anonymous %}
                <p align="left">Not signed in <a class="btn btn-small btn-primary" href="/accounts/login?next={{ request.get_full_path }}"><i class="icon-user icon-white"></i>  Log in</a></p>
                {% endif %}

            </td>
            <td>
                <p align="right">
                <a href="http://www.neuinfo.org/">
                <img src="http://neuinfo.org/images/registered-with-nif.png" alt="Registered with NIF" width="125" height="40" style="border:none;" >
                </a>
                </p>
            </td>
        </tr>
    </table>
    {% endblock %}
</footer>
</div>
</html>
