{% extends "neuroelectro/base.html" %}
{% block title %}NeuroElectro :: Data Table To Validate List{% endblock %}
{% block headerIncludes %}
        <script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}src/DataTables/media/js/jquery.js"></script>
        <script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}src/DataTables/media/js/jquery.dataTables.js"></script>
        <style type="text/css" title="currentStyle">
            @import "{{ STATIC_URL }}src/DataTables/media/css/demo_table.css";
        </style>
{% endblock %}

{% block content %}
<script language="javascript" type="text/javascript">
$(document).ready( function () {
    $('#neuron_ephys_table').dataTable({
        "iDisplayLength": 25
    });
    var oTable = $('#neuron_ephys_table').dataTable();
    oTable.fnSort( [ [0,'desc'], [3,'desc']] );

} );
</script>
<h2>Recently curated neuron mentions</h2>

<table id="neuron_ephys_table" class="display">
	<thead>
		<tr>
			<th>Date Modified</th>
			<th>Curator</th>
			<th>DataTable</th>
		    <th>Neuron Type</th>
		    <th>Neuron Long Name</th>
		    <th>Note</th>
		</tr>
	</thead>
	<tbody>
	{% for concept_map in concept_maps %}
    	<tr>
    		
    		<td>{{ concept_map.history.all.0.history_date }}</td>
    		<td>
    		{% for hcm in concept_map.history.all %}
    			{{ hcm.changed_by }} , 
    		{% endfor %}
    		</td>
			<td><a href="/data_table/{{concept_map.source.data_table.pk}}/" >{{concept_map.source.data_table.pk}}</a></td>
          	<td><a href="/neuron/{{concept_map.neuron.pk}}/" >{{concept_map.neuron}}</a></td>
          
	          <td>{{concept_map.neuron_long_name}}</td>
	          <td>{{concept_map.note}}</td>
   		</tr>
   		 

{% endfor %}
	</tbody>
</table>
{% endblock %}

