{% extends "neuroelectro/base.html" %}
{% block title %}NeuroElectro :: Concept Map List{% endblock %}
{% block headerIncludes %}
    <script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}src/DataTables/media/js/jquery.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}src/DataTables/media/js/jquery.dataTables.js"></script>
    <style type="text/css" title="currentStyle">
        @import "{{ STATIC_URL }}src/DataTables/media/css/demo_table.css";
    </style>

    <script type="text/javascript" charset="utf8" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/plug-ins/1.10.9/sorting/datetime-moment.js"></script>


{% endblock %}

{% block content %}
<script language="javascript" type="text/javascript">
$(document).ready( function () {

    $('#neuron_ephys_table').dataTable({
        "iDisplayLength": 25
    });

    var oTable = $('#neuron_ephys_table').dataTable();
    oTable.fnSort( [ [0,'desc'], [3,'desc']] );

    // date formatting
    $.fn.dataTable.moment('MMM., D, YYYY, HH:MM A');

} );
</script>
<h2>Recently curated neuron mentions</h2>

<table id="neuron_ephys_table" class="display">
	<thead>
		<tr>
			<th>Date Modified</th>
			<th>Curator</th>
			<th>DataTable</th>
		    <th>Neuron Type</th>
		    <th>Neuron Long Name</th>
		    <th>Neuron Note</th>
            <th>Neuron curation needs help</th>
            <th>Table needs admin</th>
            <th>Data Table Note</th>
		</tr>
	</thead>
	<tbody>
	{% for concept_map in concept_maps %}
    	<tr>
    		
    		<td>{{ concept_map.history.all.0.history_date| date:"M., d, Y, h:i A" }}</td>
    		<td>
                {{ concept_map.curated_list }}
    		</td>
			<td><a href="/data_table/{{concept_map.source.data_table.pk}}/" >{{concept_map.source.data_table.pk}}</a></td>
          	<td><a href="/neuron/{{concept_map.neuron.pk}}/" >{{concept_map.neuron}}</a></td>
          
            <td>{{concept_map.neuron_long_name}}</td>
            <td>{{concept_map.note}}</td>
            <td>{{concept_map.source.data_table.complex_neurons}}</td>
            <td>{{concept_map.source.data_table.needs_expert}}</td>
            <td>{{concept_map.source.data_table.note}}</td>
   		</tr>
   		 

{% endfor %}
	</tbody>
</table>
{% endblock %}

