{% extends "neuroelectro/base.html" %}
{% block title %}NeuroElectro :: Contact{% endblock %}

{% block content %}
<h1>Contact:</h1>
<ul>
<li>Shreejoy Tripathy [stripathy (at) cmu (dot) edu]</li>
<li>Rick Gerkin [rgerkin (at) cmu (dot) edu]</li>
<li>Nathan Urban [nurban (at) cmu (dot) edu]</li>
<li>Department of Biology and the Center for the Neural Basis of Cognition, Carnegie Mellon University</li>
</ul>

<iframe src="https://docs.google.com/spreadsheet/embeddedform?formkey=dHdVYVVRb2JwSmpuN0Nib2s0ZlJTZ3c6MQ" width="760" height="770" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
{% endblock %}