{% extends "neuroelectro/base.html" %}
{% block title %}NeuroElectro :: Contribute{% endblock %}

{% block headerIncludes %}
	<style type="text/css">
		h4 {
			margin-left:20px;
		}
	</style>
{% endblock %}

{% block content %}

	<h1>Want to help improve the content of NeuroElectro?</h1>
	<h2>We are looking for domain experts to help make this database more complete. Specifically to:</h2>
		<div id="why_list">
			<ul>
				<li>
					Suggest relevant papers on the electrophysiology of different neuron types
				</li>
				<li>
					Help validate, fix, and keep current the content that we have extracted
				</li>
			</ul>	
		</div>
	<p>You can find more information on how to contribute on individual neuron pages
	(e.g. <a href={% url neuroelectro.views.neuron_detail 129 %}>Olfactory Bulb Mitral Cells</a>)<p>
{% endblock %}