{% extends "neuroelectro/base.html" %}
{% block title %}NeuroElectro :: Contact{% endblock %}
{% block headerIncludes %}
	<script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}src/DataTables/media/js/jquery.js"></script>
	<!-- Add fancyBox -->
	<link rel="stylesheet" href="{{ STATIC_URL }}src/fancybox/source/jquery.fancybox.css?v=2.1.3" type="text/css" media="screen" />
	<script type="text/javascript" src="{{ STATIC_URL }}src/fancybox/source/jquery.fancybox.pack.js?v=2.1.3"></script>
	
	<!-- Optionally add helpers - button, thumbnail and/or media -->
	<link rel="stylesheet" href="{{ STATIC_URL }}src/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
	<script type="text/javascript" src="{{ STATIC_URL }}src/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}src/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.5"></script>
	
	<link rel="stylesheet" href="{{ STATIC_URL }}src/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />
	<script type="text/javascript" src="{{ STATIC_URL }}src/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>

	<style type="text/css">
	.btn-large { 
		margin-left:30px;
	}
	</style>
{% endblock %}

{% block javascripts %}
<script>
$(document).ready(function(){
	$(".fancybox").fancybox();
});
</script>
{% endblock %}
{% block content %}

<h1>Contact Information</h1>
<p>
The NeuroElectro website and framework is developed and maintained by Shreejoy Tripathy (University of British Columbia) and Rick Gerkin (Arizona State University). NeuroElectro was originally developed in the lab of Nathan Urban at Carnegie Mellon University. 
</p>
<ul>
<li>Shreejoy Tripathy [stripathy (at) chibi (dot) edu]</li>
<li>Rick Gerkin [rickg (at) cmu (dot) edu]</li>
<!--<li>Department of Biology and the Center for the Neural Basis of Cognition, Carnegie Mellon University</li>-->
</ul>
<a class="fancybox btn btn-large btn-primary" data-fancybox-type="iframe" href="/neuroelectro/mailing_list_form/">Join our mailing list</a>
{% endblock %}
