{% extends "neuroelectro/base.html" %}
{% block title %}NeuroElectro :: Curator View{% endblock %}

{% block extracss %}
	<style type="text/css">
		h4 {
			margin-left:20px;
		}
		#become_curator_info{
			margin-left:30px;
		}
		.btn-primary{
			margin-left: 100px;
			margin-bottom: 10px;
		}
		.btn-success{
			margin-left: 50px;
			margin-bottom: 10px;
		}
		.btn-info{
			margin-left: 20px;
			margin-bottom: 10px;
		}

		.fancybox-type-iframe {
			height: 800px !important;
		}
		.fancybox-skin {
			height: 800px !important;
		}
		.fancybox-outer {
			height: 800px !important;
		}
		.fancybox-inner {
			height: 800px !important;
		}
		.fancybox-overlay {
			
		}
	</style>
{% endblock %}

{% block javascripts %}
<script >
$(document).ready( function () {
    $(".fancybox").fancybox();
    //Stuff for data table display
    
    $('#curator_list').dataTable({
        "iDisplayLength": 10,     
        "paging": false,
    });
    var aTable = $('#curator_list').dataTable();
    aTable.fnSort( [ 1,'asc'] );  
} );
</script>
{% endblock %}

{% block content %}
	<h1>NeuroElectro DataTable curation interface</h1>
	<h2>Welcome {{username}}!</h2>
	
	<h2>Curation Documentation</h2>
		<ol>
	    		<li><a href="https://docs.google.com/document/d/1UsMpRSfNwzwyW5MGuQhu6vFzwICGkwKfElWsrOJxB3M/edit?usp=sharing" target="_blank">Overview documents</a></li>
	    		<li><a href="https://docs.google.com/spreadsheets/d/1rt0GVzTWkvSTSGWzJpnduiS96HiwKWI5DEpP43LRC5I/edit?usp=sharing" target="_blank">Electrophysiology description spreadsheet</a></li>
	    </ol>  

	<td style="text-align: center;">
		
        {% if request and not request.user.is_anonymous %}
        {% with request.user as x %}
			<a id="article_suggest_iframe" class="btn btn-large btn-primary submit_button" href="/neuroelectro/data_table/validate_list/"><i class="icon-upload icon-white"></i> Listing of data tables needing curation</a>
        {% endwith %}
        {% endif %}

	</td>
	
</br>





{% endblock %}
