{% extends "neuroelectro/base.html" %}
{% block title %}NeuroElectro :: Curator View{% endblock %}

{% block extracss %}
	<style type="text/css">
		h4 {
			margin-left:20px;
		}
		#become_curator_info{
			margin-left:30px;
		}
		.btn-primary{
			margin-left: 100px;
			margin-bottom: 10px;
		}
		.btn-success{
			margin-left: 50px;
			margin-bottom: 10px;
		}
		.btn-info{
			margin-left: 20px;
			margin-bottom: 10px;
		}

		.fancybox-type-iframe {
			height: 800px !important;
		}
		.fancybox-skin {
			height: 800px !important;
		}
		.fancybox-outer {
			height: 800px !important;
		}
		.fancybox-inner {
			height: 800px !important;
		}
		.fancybox-overlay {
			
		}
	</style>
{% endblock %}

{% block javascripts %}
<script >
$(document).ready( function () {
    $(".fancybox").fancybox();
    //Stuff for data table display
    
    $('#curator_list').dataTable({
        "iDisplayLength": 10,     
        "paging": false,
    });
    var aTable = $('#curator_list').dataTable();
    aTable.fnSort( [ 1,'asc'] );  
} );
</script>
{% endblock %}

{% block content %}
	<h1>NeuroElectro DataTable curation interface</h1>
	<h2>Welcome {{username}}!</h2>
	
	<h2>Curation Documentation</h2>
		<ol>
	    		<li><a href="https://www.dropbox.com/s/63vamvmk34rv0xf/curation_workflow.pdf?dl=0" target="_blank">Curation overview and workflow</a></li>
                <li><a href="https://docs.google.com/document/d/1UsMpRSfNwzwyW5MGuQhu6vFzwICGkwKfElWsrOJxB3M/edit?usp=sharing" target="_blank">Electrophysiology overview documents</a></li>
                <li><a href="https://docs.google.com/document/d/1gb-n_7YzMRrs5rgr-m1TyRPuH3_OoO3d4g4MXwrF9yY/edit?usp=sharing" target="_blank">Guidelines for curating neuron types and neuron long names</a></li>
                <li><a href="https://docs.google.com/document/d/1U8qAKiIkVvWOyfjiOCLUAX6wsIswFSe0pPkeWxS4N7M/edit?usp=sharing" target="_blank">Guidelines for curating experimental metadata</a></li>
	    		<li><a href="https://docs.google.com/spreadsheets/d/1rt0GVzTWkvSTSGWzJpnduiS96HiwKWI5DEpP43LRC5I/edit?usp=sharing" target="_blank">Electrophysiology description spreadsheet</a></li>
	    		<li><a href="https://docs.google.com/spreadsheets/d/1TOKLTs5VW7goXBoRuoxLCL7rWgwY2c5YErDyTaAh-w8/edit?usp=sharing" target="_blank">Spreadsheet to organize curator notes about electrophysiology properties</a></li>
	    		<li><a href="https://docs.google.com/spreadsheets/d/1bxe_-_Rb7EZ3Pnl_v2l5y6zTvW5J4Y1uPePReAVequg/edit?usp=sharing" target="_blank">Spreadsheet to organize curator notes about neuron types</a></li>
	    </ol>  

	<td style="text-align: center;">
		
        {% if request and not request.user.is_anonymous %}
        {% with request.user as x %}
			<a id="article_suggest_iframe" class="btn btn-large btn-primary submit_button" href="/data_table/validate_list/"><i class="icon-upload icon-white"></i> Listing of data tables needing curation</a>
            <a id="article_suggest_iframe" class="btn btn-large btn-primary submit_button" href="/concept_map/validate_list/"><i class="icon-upload icon-white"></i> Listing of recently curated neurons</a>
        {% endwith %}
        {% endif %}

	</td>
	
</br>





{% endblock %}
