{% extends "neuroelectro/base.html" %}

{% block title %}NeuroElectro :: Data table {{datatable.pk}}{% endblock %}

{% block extracss %}
<style type="text/css">
table, th, td
{
border: 1px solid black;
}
.no-box
{
    border: 0px solid black;
}
div#qTip {
 padding: 3px;
 border: 1px solid #666;
 border-right-width: 2px;
 border-bottom-width: 2px;
 display: none;
 background: #999;
 color: #FFF;
 font: bold 9px Verdana, Arial, sans-serif;
 text-align: left;
 position: absolute;
 z-index: 1000;
}
</style>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
 $(document).ready(function() {
    //things that get hidden on start
    $(".hidden").hide();
    $(".correct").hide();
    $(".dropdown").hide();
    $(".ephys_neuron_radio").hide();
    $(".ephys_dropdown").hide();
    $(".neuron_dropdown").hide();
    //thinsg that happen on click
    $('td').click(function() {
        $(this).find('.correct').show();
        $(this).find('.dropdown').show();
        $(this).find('.ephys_neuron_radio').show();
    });
    $('th').click(function() {
        $(this).find('.correct').show();
        $(this).find('.dropdown').show();
        $(this).find('.ephys_neuron_radio').show();      
    });
    $('.ephys_neuron_radio input:radio').click(function() {
        if ($(this).val() == 'ephys_prop') {
          $(this).closest('th').find('.ephys_dropdown').show()
          $(this).closest('th').find('.neuron_dropdown').hide()
          $(this).closest('td').find('.ephys_dropdown').show()
          $(this).closest('td').find('.neuron_dropdown').hide()          
        } else if ($(this).val() == 'neuron') {
          $(this).closest('th').find('.neuron_dropdown').show()
          $(this).closest('th').find('.ephys_dropdown').hide()
          $(this).closest('td').find('.neuron_dropdown').show()
          $(this).closest('td').find('.ephys_dropdown').hide()          
        } 
      });
    
    $('.dropdown').change(function() {
        var value= $(this).val();
        console.log( value);
    });    
    $('#hide').click(function() {
        $(".hidden").hide();
        $(".correct").hide();
        $(".dropdown").hide();
        $(".neuron_dropdown").hide();
        $(".ephys_dropdown").hide();
        $(".ephys_neuron_radio").hide();
    });   
	$(".fancybox").fancybox();
    $('#neuron_ephys_table').dataTable({
        "iDisplayLength": 50
    });
});
          </script>
{% endblock %}

{% block content %}
{% include "neuroelectro/article_title_header.html" with article=datatable.article %}

<p>Below is the rendering of the article data table as stored on our server. </p>
{{enriched_html_table|safe}}

<form action="{% url "neuroelectro.views.data_table_detail" datatable.pk %}" id="dt_{{datatable.pk}}" method="post">
    {% csrf_token %}
                <input type="checkbox" name="validate_all" value="validate_all"/> 
                   Validate all mappings in table
                </br>
                <input type="checkbox" name="remove_all" value="remove_all"/> 
                   Remove all mappings in table
                </br>
                {% if datatable.needs_expert %}
                    <input type="checkbox" name="expert" value="needs_expert" checked/> 
                {% else %}
                    <input type="checkbox" name="expert" value="needs_expert"/> 
                {% endif %}
                   Table needs expert?
                {% if datatable.note %}
                    <br/>Add Note: <input type="text" name="data_table_note" value= "{{data_table_note}}" />
                {% else %}
                    <br/>Add Note: <input type="text" name="data_table_note" value=""/>
                {% endif %}
            </br>
        <input type="submit" value="Submit to server">
</form>

<button id="hide">hide all</button>
<a href="{% url "neuroelectro.views.neuron_add" %}">Add a neuron</a>
<br>
<br>

 <div style="text-align:left">
 <a class="fancybox btn btn-large btn-danger submit_button" data-fancybox-type="iframe" href="/neuroelectro/nedm_comment_box/"><i class="icon-thumbs-down icon-white"></i> Report miscurated data</i></a>
 </div>

{% include "neuroelectro/neuron_ephys_data_table_article.html" %}

{% endblock %}

