{% extends "neuroelectro/base.html" %}

{% block title %}NeuroElectro :: Data table {{datatable.pk}}{% endblock %}

{% block extracss %}
<style type="text/css">
table, th, td 
{
border: 1px solid black;
}
.logo_bar{
	border: 1px solid #eee;
}
.footer_bar{
	border: 1px solid #eee;
}
div#qTip {
 padding: 3px;
 border: 1px solid #666;
 border-right-width: 2px;
 border-bottom-width: 2px;
 display: none;
 background: #999;
 color: #FFF;
 font: bold 9px Verdana, Arial, sans-serif;
 text-align: left;
 position: absolute;
 z-index: 1000;
}
</style>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
 $(document).ready(function() {
	 
    //things that get hidden on start
    $(".hidden").hide();
    $(".correct").hide();
    $(".dropdown").hide();
    $(".ephys_neuron_radio").hide();
    $(".ephys_dropdown").hide();
    $(".neuron_dropdown").hide();
    //thinsg that happen on click
    $('td').click(function() {
        $(this).find('.correct').show();
        $(this).find('.dropdown').show();
        $(this).find('.ephys_neuron_radio').show();
    });
    $('th').click(function() {
        $(this).find('.correct').show();
        $(this).find('.dropdown').show();
        $(this).find('.ephys_neuron_radio').show();      
    });
    $('.ephys_neuron_radio input:radio').click(function() {
        if ($(this).val() == 'ephys_prop') {
          $(this).closest('th').find('.ephys_dropdown').show()
          $(this).closest('th').find('.neuron_dropdown').hide()
          $(this).closest('td').find('.ephys_dropdown').show()
          $(this).closest('td').find('.neuron_dropdown').hide()          
        } else if ($(this).val() == 'neuron') {
          $(this).closest('th').find('.neuron_dropdown').show()
          $(this).closest('th').find('.ephys_dropdown').hide()
          $(this).closest('td').find('.neuron_dropdown').show()
          $(this).closest('td').find('.ephys_dropdown').hide()          
        } 
      });
    
    $('.dropdown').change(function() {
        var value= $(this).val();
        console.log( value);
    });    
    $('#hide').click(function() {
        $(".hidden").hide();
        $(".correct").hide();
        $(".dropdown").hide();
        $(".neuron_dropdown").hide();
        $(".ephys_dropdown").hide();
        $(".ephys_neuron_radio").hide();
    });   
    
	$(".fancybox").fancybox();
    $('#neuron_ephys_table').dataTable({
        "iDisplayLength": 50
    });
});
          </script>
          
{% endblock %}

{% block content %}

{% include "neuroelectro/article_title_header.html" with article=datatable.article%}

</br>
{{enriched_html_table|safe}}
</br>

 <div style="text-align:left">
 <a class="fancybox btn btn-large btn-danger submit_button" data-fancybox-type="iframe" href="/nedm_comment_box/"><i class="icon-thumbs-down icon-white"></i> Report miscurated data</i></a>
 </div>
        
<br>
{% include "neuroelectro/neuron_ephys_data_table_article.html" %}

{% endblock %}

