{% extends "neuroelectro/base.html" %}
{% block title %}NeuroElectro :: Data Table Upload{% endblock %}

{% block extracss %}
<style type="text/css">
form.blueForms div {
	display: inline-block;
	width: 240px;
}
</style>
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
	{% load crispy_forms_tags %}

	<div class="container">

		<div class='row'>
			{% crispy table_form %}
		</div>
	</div>
	<br>

    {% if table_pk %}
        <p><a href="/data_table/{{ table_pk }}/">Uploaded table link</a></p>
    {% else %}
        <p>{{ response_message }}</p>
    {% endif %}

{% endif %}
{% endblock %}