{% extends "neuroelectro/base.html" %}

{% block title %}NeuroElectro :: Data table {{datatable.pk}}{% endblock %}

{% block extracss %}
<style type="text/css">
table, th, td 
{
border: 1px solid black;
}
.logo_bar{
	border: 1px solid #eee;
}
.footer_bar{
	border: 1px solid #eee;
}
div#qTip {
 padding: 3px;
 border: 1px solid #666;
 border-right-width: 2px;
 border-bottom-width: 2px;
 display: none;
 background: #999;
 color: #FFF;
 font: bold 9px Verdana, Arial, sans-serif;
 text-align: left;
 position: absolute;
 z-index: 1000;
}
</style>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
/* Check if the text is blank, "None" or whitespace only */
function meaningfulTextExists(text) {
	return text.length > 0 & text != "None" & text.trim().length > 0;
}

$(document).ready(function() {
	/* For each ncm, ecm and nedm: modify the corresponding table cell accordingly */
   	/* Process Ephys. property cells */
   	{% for ecm in ecm_list %}
   		tag_id = '{{ecm.dt_id}}';
   		note = '{{ ecm.note|escapejs }}';

   		$("#" + tag_id).append("<br/><i>Concept: " + '{{ ecm.ephys_prop.name }}' + "</i>");
   		if (meaningfulTextExists(note)) {
   			$("#" + tag_id).append("<br/><i>Note: " + note + "</i>");
   		}
		$("#" + tag_id).css("background-color", "#B2CC80");
	{% endfor %}

	/* Process Neuron Type cells */
	{% for ncm in ncm_list %}
		tag_id = '{{ncm.dt_id}}';
		note = '{{ ncm.note|escapejs }}';
		nln = '{{ncm.neuron_long_name|escapejs}}';

		$("#" + tag_id).append("<br/><i>Concept: " + '{{ ncm.neuron.name }}' + "</i>");
		if (meaningfulTextExists(nln)) {
   			$("#" + tag_id).append("<br/><i>Long name: " + nln + "</i>");
		}
   		if (meaningfulTextExists(note)) {
   			$("#" + tag_id).append("<br/><i>Note: " + note + "</i>");
   		}
		$("#" + tag_id).css("background-color", "#E68AB8");
	{% endfor %}

	/* Process nedm (data) cells */
	{% for nedm in nedm_list %}
		tag_id = '{{nedm.dt_id}}';
		
		$("#" + tag_id).css("background-color", "#E6E600");
	{% endfor %}
	
	/* Process metadata cells */
	{% for meta in efcm_list %}
		if ('{{ meta.metadata.name }}'.indexOf("internal_") < 0 && '{{ meta.metadata.name }}'.indexOf("external_") < 0) {
			tag_id = '{{meta.dt_id}}';
			meta_value = '{{ meta.metadata.cont_value|escapejs }}' == 'None' ? '{{ meta.metadata.value }}' : '{{ meta.metadata.cont_value|escapejs }}';
			note = '{{ meta.note|escapejs }}';
			
			if ('{{ meta.metadata.name }}' == "NumObs" && meta_value == "-1.0") {
				meta_value = "auto";
			}
			
			if ('{{ meta.metadata.name }}'.indexOf("ternalSolution") > 0) {
				meta_value = '{{ meta.metadata.ref_text.text }}';
			}
			
			$("#" + tag_id).append("<br/><i>" + '{{ meta.metadata.name }}' + ": " + meta_value + "</i>");
			
			if (meaningfulTextExists(note)) {
				$("#" + tag_id).append("<br/><i>" + '{{ meta.metadata.name }}' + " note: " + note + "</i>");
			}
			
			if ($("#" + tag_id).css("background-color") == 'transparent') {
				$("#" + tag_id).css("background-color", "#FAFAD2");
			}
		}
	{% endfor %}
	 
	$(".fancybox").fancybox();
    $('#neuron_ephys_table').dataTable({
        "iDisplayLength": 50
    });
});
          </script>
          
{% endblock %}

{% block content %}

{% include "neuroelectro/article_title_header.html" with article=datatable.article%}

</br>
{{enriched_html_table|safe}}
</br>

 <div style="text-align:left">
 <a class="fancybox btn btn-large btn-danger submit_button" data-fancybox-type="iframe" href="/nedm_comment_box/"><i class="icon-thumbs-down icon-white"></i> Report miscurated data</a>
 </div>
        
<br>
{% include "neuroelectro/neuron_ephys_data_table_article.html" %}

{% endblock %}

