{% extends "neuroelectro/base.html" %}

{% block title %}NeuroElectro :: Data table {{datatable.pk}}{% endblock %}

{% block extracss %}
<style type="text/css">
table, th, td
{
	border: 1px solid black;
}
.no-box
{
    border: 0px solid black;
}
.logo_bar{
	border: 1px solid #eee;
}
.footer_bar{
	border: 1px solid #eee;
}
div#qTip {
 padding: 3px;
 border: 1px solid #666;
 border-right-width: 2px;
 border-bottom-width: 2px;
 display: none;
 background: #999;
 color: #FFF;
 font: bold 9px Verdana, Arial, sans-serif;
 text-align: left;
 position: absolute;
 z-index: 1000;
}
</style>

{% endblock %}

{% block javascripts %}
<script type="text/javascript">
/* Define trim() function for Strings - IE special care */
if (!String.prototype.trim) {
    String.prototype.trim = function() {
        return String(this).replace(/^\s+|\s+$/g, '');
    };
}

/* Define indexOf() function for Strings - IE special care */
if (!Array.prototype.indexOf) {
	  Array.prototype.indexOf = function(searchElement, fromIndex) {
	    var k;
	    if (this == null) {
	      throw new TypeError('"this" is null or not defined');
	    }
	    var O = Object(this);
	    var len = O.length >>> 0;
	    if (len === 0) {
	      return -1;
	    }
	    var n = +fromIndex || 0;
	    if (Math.abs(n) === Infinity) {
	      n = 0;
	    }
	    if (n >= len) {
	      return -1;
	    }
	    k = Math.max(n >= 0 ? n : len - Math.abs(n), 0);
	    while (k < len) {
	      if (k in O && O[k] === searchElement) {
	        return k;
	      }
	      k++;
	    }
	    return -1;
	  };
	}

$(document).ready(function() {
	/* Generate Curation Table, inputs:
	'datatable': datatable, 
	'nedm_list': nedmObs,
    'ecm_list': ecmObs,
    'ncm_list': ncmObs */
    var user = '{{request.user|safe}}';
    var ecm_list = '{{ecm_list|safe|escapejs}}', ncm_list = '{{ncm_list|safe|escapejs}}', nedm_list = '{{nedm_list|safe|escapejs}}';
    var matchingEphysDTIds = [], matchingNeuronDTIds = [], matchingDataValIds = [];
	
/*     $('#curation').each(function() {
    	$(this).find('td').each(function() {
    		enrich_curation_table(this);
    	});
    	$(this).find('th').each(function() {
    		enrich_curation_table(this);
    	});
    }); */
    
    	
   	/* For each ncm, ecm and nedm: modify the corresponding table cell accordingly */
   	// var tagText = tag.innerHTML.trim();
    // console.log("Text:" + tagText); 
       
   	{% for ecm in ecm_list %}
   		tag_id = '{{ecm.dt_id}}';

   		$("#curation #" + tag_id).append("<br/><i>Concept: " + '{{ ecm.ephys_prop.name }}' + "</i>");
		$("#curation #" + tag_id).css("background-color", "#B2CC80");
   	
	{% endfor %}

	
	{% for ncm in ncm_list %}
		tag_id = '{{ncm.dt_id}}';

		$("#curation #" + tag_id).append("<br/><i>Concept: " + '{{ ncm.neuron.name }}' + "</i>");
		$("#curation #" + tag_id).css("background-color", "#E68AB8");
	{% endfor %}

	{% for nedm in nedm_list %}
		tag_id = '{{nedm.dt_id}}';

		$("#curation #" + tag_id).css("background-color", "#E6E600");
	{% endfor %}
      	
  	
  		
 		/* if (matchingEphysDTIds.indexOf(tag.id) !== -1) {
 			matchIndex = matchingEphysDTIds.indexOf(tag.id);
 			ecmMatch = ecm_list[matchIndex];
 			
 			$("#" + tag.id).append("<br/><i>Concept: " + '{{ ecm_list.0 }}' + "</i>");
 			$("#" + tag.id).css("background-color", "#B2CC80");
 			
 		} else if (matchingNeuronDTIds.indexOf(tag.id) !== -1) {
 			matchIndex = matchingNeuronDTIds.indexOf(tag.id);
 			ncmMatch = ncm_list[matchIndex];
 			
 			
 			$("#" + tag.id).css("background-color", "#E68AB8");
 			
 		} else if (matchingDataValIds.indexOf(tag.id) !== -1) {
 			$("#" + tag.id).css("background-color", "#E6E600");
 			
 		} else if (/^[\x00-\x7F]*$/.test(tagText)) {
 			return;
 			
 		} else if ('{{user.is_authenticated}}') {
 			// Add the standard curation tag
 		} */
	
    //things that get hidden on start
    $(".hidden").hide();
    $(".correct").hide();
    $(".dropdown").hide();
    $(".ephys_neuron_radio").hide();
    $(".ephys_dropdown").hide();
    $(".neuron_dropdown").hide();
    //things that happen on click
    $('td').click(function() {
        $(this).find('.correct').show();
        $(this).find('.dropdown').show();
        $(this).find('.ephys_neuron_radio').show();
    });
    $('th').click(function() {
        $(this).find('.correct').show();
        $(this).find('.dropdown').show();
        $(this).find('.ephys_neuron_radio').show();      
    });
    $('.ephys_neuron_radio input:radio').click(function() {
        if ($(this).val() == 'ephys_prop') {
          $(this).closest('th').find('.ephys_dropdown').show()
          $(this).closest('th').find('.neuron_dropdown').hide()
          $(this).closest('td').find('.ephys_dropdown').show()
          $(this).closest('td').find('.neuron_dropdown').hide()          
        } else if ($(this).val() == 'neuron') {
          $(this).closest('th').find('.neuron_dropdown').show()
          $(this).closest('th').find('.ephys_dropdown').hide()
          $(this).closest('td').find('.neuron_dropdown').show()
          $(this).closest('td').find('.ephys_dropdown').hide()          
        } 
      });
    
    $('.dropdown').change(function() {
        var value= $(this).val();
    });    
    $('#hide').click(function() {
        $(".hidden").hide();
        $(".correct").hide();
        $(".dropdown").hide();
        $(".neuron_dropdown").hide();
        $(".ephys_dropdown").hide();
        $(".ephys_neuron_radio").hide();
    });   
	$(".fancybox").fancybox();
    $('#neuron_ephys_table').dataTable({
        "iDisplayLength": 50
    });
});
</script>
{% endblock %}

{% block content %}
{% include "neuroelectro/article_title_header.html" with article=datatable.article %}

<p>Below is the rendering of the article data table as stored on our server. </p>
<!--  Create the curation table here -->
<form id="curation" method="POST" action="">
{% csrf_token %}
{{enriched_html_table|safe}}
</form>

<form action="{% url "neuroelectro.views.data_table_detail" datatable.pk %}" id="dt_{{datatable.pk}}" method="post">
    {% csrf_token %}
                <input type="checkbox" name="validate_all" value="validate_all"/> 
                   Validate all mappings in table
                </br>
                <input type="checkbox" name="remove_all" value="remove_all"/> 
                   Remove all mappings in table
                </br>
                {% if datatable.needs_expert %}
                    <input type="checkbox" name="expert" value="needs_expert" checked/> 
                {% else %}
                    <input type="checkbox" name="expert" value="needs_expert"/> 
                {% endif %}
                   Table needs expert?
                {% if datatable.note %}
                    <br/>Add Note: <input type="text" name="data_table_note" value= "{{data_table_note}}" />
                {% else %}
                    <br/>Add Note: <input type="text" name="data_table_note" value=""/>
                {% endif %}
            </br>
        <input type="submit" value="Submit to server">
</form>

<button id="hide">hide all</button>
<a href="{% url "neuroelectro.views.neuron_add" %}">Add a neuron</a>
<br>
<br>

 <div style="text-align:left">
 <a class="fancybox btn btn-small btn-danger submit_button" data-fancybox-type="iframe" href="/neuroelectro/nedm_comment_box/"><i class="icon-thumbs-down icon-white"></i> Report miscurated data</i></a>
 </div>

{% include "neuroelectro/neuron_ephys_data_table_article.html" %}

{% endblock %}

