<h1>{{ neuron }}</h1>
<h2>Synonyms of this neuron: </h2>
<ul>
{% for syn in neuron.synonyms.all %}
    <li>{{ syn.term }}</li>
{% endfor %}
</ul>
<h2>Brain Regions containing this neuron: </h2>
<ul>
{% for region in neuron.regions.all %}
    <li>{{ region.name }}</li>
{% endfor %}
</ul>
<h3>Inferred neuron-electrophysiology data values</h3>
<table border="1">
<tr>
<th>Neuron Type</th>
<th>Ephys Prop</th>
<th>Value</th>
<!-- <th>Error</th>
<th>n</th> -->
</tr>
{% for nedm in nedm_list %}
    <tr>
    <td><a href="/neuroelectro/neuron/{{ nedm.neuron_concept_map.neuron.id }}/">{{ nedm.neuron_concept_map.neuron.name }}</a></td>
    <td><a href="/neuroelectro/ephys_prop/{{ nedm.ephys_concept_map.ephys_prop.id }}/">{{ nedm.ephys_concept_map.ephys_prop }}</a></td>
    <td><a href="/neuroelectro/data_table/{{nedm.data_table.id}}">{{nedm.val}}</td>
<!--     <td>{{nel.val_err}}</td>
    <td>{{nel.num_reps}}</td> -->
    </tr>
{% endfor %}
</table>