{% extends "neuroelectro/base.html" %}
{% block title %}NeuroElectro :: {{ ephys_prop }}{% endblock %}

{% block headerIncludes %}


        <script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}src/DataTables/media/js/jquery.js"></script>
        <script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}src/DataTables/media/js/jquery.dataTables.js"></script>
        <style type="text/css" title="currentStyle">
            @import "{{STATIC_URL}}src/DataTables/media/css/demo_table.css";
        </style>
<!--<script language="javascript" type="text/javascript" src="{{ STATIC_URL }}src/jquery.min.js"></script>-->
<script language="javascript" type="text/javascript" src="{{ STATIC_URL }}src/jquery.jqplot.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}src/plugins/jqplot.canvasTextRenderer.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}src/plugins/jqplot.canvasAxisTickRenderer.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}src/plugins/jqplot.categoryAxisRenderer.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}src/plugins/jqplot.logAxisRenderer.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}src/plugins/jqplot.highlighter.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}src/plugins/jqplot.canvasAxisLabelRenderer.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}src/plugins/jqplot.cursor.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}src/plugins/jqplot.pointLabels.min.js"></script>
<!--<script type="text/javascript" src="{{ STATIC_URL }}src/plugins/jqplot.eventListenerHooks.min.js"></script>-->
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}src/jquery.jqplot.min.css" />
<script type="text/javascript" src="{{ STATIC_URL }}src/plugins/jqplot.ohlcRenderer.min.js"></script>
  <!-- Add jQuery library -->
  <!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>-->
  
  <!-- Add mousewheel plugin (this is optional) -->
  <script type="text/javascript" src="{{ STATIC_URL }}src/fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>
  
  <!-- Add fancyBox -->
  <link rel="stylesheet" href="{{ STATIC_URL }}src/fancybox/source/jquery.fancybox.css?v=2.1.3" type="text/css" media="screen" />
  <script type="text/javascript" src="{{ STATIC_URL }}src/fancybox/source/jquery.fancybox.pack.js?v=2.1.3"></script>
  
  <!-- Optionally add helpers - button, thumbnail and/or media -->
  <link rel="stylesheet" href="{{ STATIC_URL }}src/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
  <script type="text/javascript" src="{{ STATIC_URL }}src/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}src/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.5"></script>
  
  <link rel="stylesheet" href="{{ STATIC_URL }}src/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />
  <script type="text/javascript" src="{{ STATIC_URL }}src/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>
<style type="text/css">
.jqplot-axis {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90%; 
}
.jqplot-highlighter-tooltip {
    background-color: #B4EEB4;
    filter:alpha(opacity=90);
    opacity:0.9;
    padding: 5px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
p {
  margin-left:25px;
}
table {
  margin-left:25px;
  margin-right:25px;
}
#chart1{
  margin-left:5px;
  margin-right:5px;
  margin-bottom:25px;
}


</style>
{% endblock %}


{% block javascripts %}
<script>
$(document).ready(function(){
  var ticks = {{neuronNameList|safe}};
  var customRenderer; 
  if ({{log_ephys_axis_flag}} == 1){
    customRenderer = $.jqplot.LogAxisRenderer;
  }
  else{
    customRenderer = $.jqplot.canvasAxisTickRenderer;
  }
  var plot1b = $.jqplot('chart1', [{{data_list_unvalidated|safe}}, {{data_list_validated|safe}}], {
    title: "{{ephys_prop.name|safe}}",
    series:[
        {
            showLine:false,
            color:"#EAA228",
        },
        {
            showLine:false,
            color:"#4bb2c5",
        }
    ],
    axesDefaults: {
        tickRenderer: $.jqplot.CanvasAxisTickRenderer ,
        tickOptions: {
          fontSize: '12pt',
          //formatString:'%.1f',
        }
        
    },
    axes: {
      xaxis: {
        renderer: $.jqplot.CategoryAxisRenderer,
        ticks: ticks,
        labelOptions:{
            fontFamily: 'arial',
        },
        tickOptions: {
          angle: -90,
        }
      },
      yaxis: {
        label: "{{ephys_prop.units|safe}}",
        labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
        //renderer: $.jqplot.LogAxisRenderer,
        renderer: customRenderer,
        autoscale : true,
        labelOptions:{
            fontFamily: 'arial',
            fontSize: '12pt',
        },
      },
    },
    highlighter: {
        show: true,
        sizeAdjust: 12,
        tooltipAxes: 'y',
        tooltipLocation: 'ne',
        useAxesFormatters: true,
        yvalues: 6,
        formatString: '<table class="jqplot-highlighter"> \
        <tr><td>Value:</td><td>%s ({{ephys_prop.units|safe}})</td></tr> \
        <tr><td>Neuron:</td><td>%s</td></tr> \
        <tr><td>Title:</td><td>%s</td></tr> \
        <tr><td>Authors:</td><td>%s</td></tr> \
        <tr><td>Journal:</td><td>%s, %s</td></tr> \
        </table>'
    },
    cursor:{
        show: true, 
        zoom: true,
        looseZoom: true,
        showTooltip:false, 
        followMouse: true, 
        showTooltipOutsideZoom: false, 
        constrainOutsideZoom: true,
    }, 
    legend:{
      show: true, 
      location: 'n', 
      placement: 'inside',
      //marginLeft: 300,
      labels: ['non-human curated', 'human curated'],
    },
  });
  console.log(plot1b);
    $('#chart1').bind('jqplotDataClick', 
        function (ev, seriesIndex, pointIndex, data) {
            var data_pt_ind = data[7];
            var linkStr;
            if (data_pt_ind < 0) // this is a hack to redirect non-data table ext data to the article page
            {
                linkStr = "/neuroelectro/article/" + (-data_pt_ind);
            }
            else 
            {
                linkStr = "/neuroelectro/data_table/" + data_pt_ind;
            }
            window.open(linkStr, '_self');
            
        }
    );
    // add id elements to corresponding neuron ticks based on the neuron id
    {% for neuron in neuron_list %}
        $(".jqplot-xaxis canvas")[{{forloop.counter0}}].id = {{neuron.id}};
    {% endfor %}

    // function to keep x-axes active on zoom
   $('#chart1').bind('jqplotZoom', function(ev, gridpos, datapos, plot, cursor){
      resetXLabels();
    });

    // function to keep x-axes active after zoom out event
   $('#chart1').bind('jqplotResetZoom', function(ev, gridpos, datapos, plot, cursor){
      resetXLabels();
    });

   function resetXLabels(){
      $(".jqplot-xaxis-tick")
      .css({
          cursor: "pointer",
          zIndex: "1",
      })
      .click(function(){ 
          var neuron_tick_id = $(this).attr('id');
          var linkStr = "/neuroelectro/neuron/" + neuron_tick_id;
          window.open(linkStr, '_self');
      })
      .mouseenter(function(){ 
          oldTop = $(this).css('top');
          $(this).css({top: '10px'});
      })
      .mouseleave(function(){ 
          $(this).css({top : oldTop});
      });
      console.log('blah');
   }

    //based on clicking an axis tick, open webpage corresponding to neuron id
    resetXLabels();

  // $("span.question").hover(function () {
  //   $(this).append('<div class="tooltip"><p>{{ephys_prop.definition}}</p></div>');
  // }, function () {
  //   $("div.tooltip").remove();
  // });
  $(".fancybox").fancybox();
});
</script>
{% endblock %}


{% block content %}
<h1>{{ ephys_prop }}  
<!--<span class="question_tooltip">?</span>-->
</h1>

<p>
Common definition: {{ephys_prop.definition}} </br>
</p>

<!--
<h2>Synonyms of this ephys property: </h2>
<ul>
{% for syn in ephys_prop.ephyspropsyn_set.all %}
    <li>{{ syn.term|safe }}</li>
{% endfor %}
</ul>
<h2>Units of this ephys property: </h2>
<li>{{ephys_prop.unit}}</li>
-->

<h2>Electrophysiological values of <i>{{ ephys_prop}}</i> across neuron types from literature:</h2>
  <table id="norm_criteria_button">
  <tr>
  <td>
    <ul>
    <lh>Standardization criteria:</lh>
    <li> {{ephys_prop.norm_criteria}}</li>
    <lh>Interactivity:</lh>
    <li>Mouse over neuron report data points and click to view corresponding publication</li>
    <li>Click on neuron name axis labels (e.g. Dentate gyrus granule cell) to view corresponding neuron page</li>
    <li>Zoom in on a section of plot by dragging cursor. Zoom out by double clicking on plot.</li>
    </ul>  
  </td>
  <td id="data_table_button">
      <a class="btn btn-large btn-info submit_button" href="./data/"><i class="icon-th-list icon-white"></i>  View data in table form</i></a>
      <br>
        <a class="fancybox btn btn-large btn-danger submit_button" data-fancybox-type="iframe" href="/neuroelectro/nedm_comment_box/"><i class="icon-thumbs-down icon-white"></i> Report miscurated data</i></a>
    </div>
  </td>

  </tr>
  </table>

<div id="chart1" style="height:800px;width:1190px; "></div>

{% endblock %}



