{% extends "neuroelectro/base.html" %}
{% block title %}NeuroElectro :: Ephys Prop Data{% endblock %}

{% block content %}
<script language="javascript" type="text/javascript">
$(document).ready( function () {
    $(".fancybox").fancybox();
    $('#neuron_ephys_table').dataTable({
        "iDisplayLength": 25
    });
    var oTable = $('#neuron_ephys_table').dataTable();
    oTable.fnSort( [ [0,'asc']] );
} );
</script>

<h1>{{ ephys_prop }}  
<!--<span class="question_tooltip">?</span>-->
</h1>

<p>
Common definition: {{ephys_prop.definition}} </br>
</p>

<h2>Electrophysiological values of <i>{{ ephys_prop}}</i> across neuron types from literature:</h2>
  <table id="norm_criteria_button">
  <tr>
  <td>
    <ul>
    <lh>Normalization criteria:</lh>
    <li> {{ephys_prop.norm_criteria}}</li>
    </ul>  
  </td>
  <td id="data_table_button">
    <div style="text-align:center">
      <a class="btn btn-large btn-info submit_button" href="/neuroelectro/ephys_prop/{{ephys_prop.pk}}/"><i class="fa fa-bar-chart-o"></i> View data in graphical form</i></a>
      <br>
        <a class="fancybox btn btn-large btn-danger submit_button" data-fancybox-type="iframe" href="/neuroelectro/nedm_comment_box/"><i class="icon-thumbs-down icon-white"></i> Report miscurated data</i></a>
      </div>
  </td>
  </tr>
  </table>
  
 {% include "neuroelectro/neuron_ephys_data_table.html" %}


{% endblock %}