{% extends "neuroelectro/base.html" %}
{% block title %}NeuroElectro :: FAQs{% endblock %}

{% block headerIncludes %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}src/faq_styles.css" />
{% endblock %}

{% block content %}
<div id="page">

    <div id="headingSection">
    	<h1>Frequently Asked Questions</h1>
        <a class="button expand" href="#">Expand</a>
    </div>

    <div id="faqSection">
    	<!-- The FAQs are inserted here -->
    </div>

</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script src="{{ STATIC_URL }}src/faq_script.js"></script>


{% endblock %}
<!--
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}src/faq_styles.css" />

</head>

<body>

<div id="page">

    <div id="headingSection">
    	<h1>Frequently Asked Questions</h1>
        <a class="button expand" href="#">Expand</a>
    </div>

    <div id="faqSection">
    </div>

</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script src="{{ STATIC_URL }}src/faq_script.js"></script>
</body>
</html>
-->