{% extends "neuroelectro/base.html" %}

{% block title %}NeuroElectro :: Neuron clustering {% endblock %}
{% block headerIncludes %}
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>Neuron type addition</title>
		<link type="text/css" href="{{ STATIC_URL }}src/jquery-ui-1.8.24.custom.css" rel="stylesheet" />
		<script language="javascript" type="text/javascript" src="{{ STATIC_URL }}src/jquery-1.8.2.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}src/jquery-ui-1.8.24.custom.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}src/jquery.jqplot.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}src/plugins/jqplot.bubbleRenderer.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}src/jquery.jqplot.min.css" />
        <script type="text/javascript" src="{{ STATIC_URL }}src/plugins/jqplot.blockRenderer.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}src/plugins/jqplot.pointLabels.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}src/plugins/jqplot.cursor.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}src/plugins/jqplot.canvasAxisLabelRenderer.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}src/plugins/jqplot.canvasTextRenderer.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}src/plugins/jqplot.canvasAxisTickRenderer.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}src/plugins/jqplot.categoryAxisRenderer.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}src/plugins/jqplot.highlighter.min.js"></script>
    <style>
	.ui-combobox {
		position: relative;
		display: inline-block;
        
	}
	.ui-combobox-toggle {
		position: absolute;
		top: 0;
		bottom: 0;
		margin-left: -1px;
		padding: 0;
		/* adjust styles for IE 6/7 */
		*height: 1.7em;
		*top: 0.1em;
	}
	.ui-combobox-input {
		margin: 0;
		padding: 0.3em;
        width: 500px;
        
	}
    .jqplot-highlighter-tooltip {
        background-color: #B4EEB4;
        filter:alpha(opacity=90);
        opacity:0.75;
        padding: 5px;
        border-radius: 5px;
        font-family: Arial, Helvetica, sans-serif;
        z-index:3;
    }
	</style>
{% endblock %}

{% block javascripts %}

	<script>

$(document).ready(function(){
    var pts = {{data_pts|safe}}; 
    
    plot1 = $.jqplot('chart1',[pts],{
        title: 'Neuron clustering based on electrophysiological properties',
        seriesDefaults:{
            renderer: $.jqplot.BubbleRenderer,
            rendererOptions: {
                bubbleAlpha: 0.3,
                highlightAlpha: 0.85,
                escapeHtml: false,
                autoscaleBubbles: true,
            },
            shadow: false,
        },
        cursor:{
            show: true, 
            zoom: true,
            looseZoom: true,
              showTooltip:false, 
              followMouse: true, 
              showTooltipOutsideZoom: false, 
              constrainOutsideZoom: true,
        }, 
        highlighter: {
            show: false,
            sizeAdjust: 12,
            tooltipAxes: 'y',
            tooltipLocation: 'ne',
            yvalues: 4,
            formatString: '<table class="jqplot-highlighter"> \
            <tr><td>x index:</td><td>%s</td></tr> \
            <tr><td>y index:</td><td>%s</td></tr> \
            <tr><td>Neuron:</td><td>%s</td></tr> \
            <tr><td>Num articles:</td><td>%s</td></tr></table>'
        },
    axesDefaults: {
        tickRenderer: $.jqplot.CanvasAxisTickRenderer,
        tickOptions: {
          fontSize: '12pt',
        }
    },
    axes: {
      xaxis: {
        label: 'Neuron-Electrophysiology PCA dimension 1 (rescaled)',
        labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
      },
      yaxis: {
        label: 'Neuron-Electrophysiology PCA dimension 2 (rescaled)',
        labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
      },
    },
    }); 
    $('.button-reset').click(function() { plot1.resetZoom() });    
    $('#chart1').bind('jqplotDataClick', 
        function (ev, seriesIndex, pointIndex, data) {
            var data_pt_ind = data[4];
            var linkStr = "/neuroelectro/neuron/" + data_pt_ind;
            window.open(linkStr, '_self');
            
        }
    );
    // add id elements to corresponding neuron ticks based on the neuron id
    {% for neuron in neuron_list %}
        //var neuronName = {{neuron.name}};
        $('.jqplot-bubble-label:contains({{neuron.name}})').attr("id", {{neuron.pk}});
    {% endfor %}
    
$('#selectbox').change(function() {
    var neuronId = $(this).val();
    $('#' + neuronId).css('background', 'red');
    $('#' + neuronId).show()
    if (neuronId == "None_selected"){
        $('.jqplot-bubble-label').css('background', 'none')
    }
});

$('.names_radio input:radio').change(function() {
    if ($(this).val() == "no"){
        $('.jqplot-bubble-label').hide()
        }
    else{
        $('.jqplot-bubble-label').show()
    }
    
});

});

	</script>
    
{% endblock %}
    
{% block content %}
<h2>Clustering of neuron types based on similarities in electrophysiological values:</h2>
<ul>
<lh>Interactivity:</lh>
<li>Click on neuron types to go to corresponding neuron page.</li>
<li>Zoom in on a section of plot by dragging cursor. Zoom out by double clicking on plot.</li>
<li>Neuron size proportional to number of articles associated with neuron type.</li>
</ul>  


    
<div id="chart1" style="height:800px;width:1200px; "></div>
<br>

<form class="names_radio" name="names_form">
<input type="radio" name="showNames" value="yes" checked>Show neuron names<br>
<input type="radio" name="showNames" value="no">Don't show neuron names
</form>
<br>
<label>Display a specific neuron(s):</label>
<select multiple="multiple" name="region_id" id="selectbox" SIZE=6>
<option value="None_selected">None selected</option>
    {% for neuron in neuron_list %}
    <option value={{ neuron.pk }}>{{ neuron.name }}</option>
    {% endfor %}
</select>
<br>


<!--<img src="{{ STATIC_URL }}src/neurons_clustered.jpg">-->


{% endblock %}
