{% extends "neuroelectro/base.html" %}

{% block title %}NeuroElectro :: Neuron Suggest {{neuron.name}}{% endblock %}
{% block headerIncludes %}
	<style>
		body {
			background-color: #EEE;
			}
		h3, h4, li{
			margin-left: 20px;
			margin-right:20px;
		}
	</style>
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.css">
	<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
{% endblock %}
{% block javascripts %}
<script type="text/javascript">
    var search_term;
    var ret_data;
	$(document).ready(function() {
		$('#pubmed_search').submit(function(event){
			search_term = $(this).find('#textbox').val();
			console.log(search_term);
			event.preventDefault(); // cancel the default action
			args = {'apikey' : '***REMOVED***',
					'db'     : 'pubmed',
					'term'   : search_term,
					'retmax' : 20,          // maximum number of results from Esearch
					'max'    : 10,          // maximum number of results passed to Esummary
					'start'  : 0};
			ret_data = $.getJSON('http://entrezajax.appspot.com/esearch+esummary?callback=?', args, function(data) {
				$('#result').html(data.entrezajax.count + ' results found<br/>');
				$.each(data.result, function(i, item) {
					console.log(item);
					var author_list = '';
					for(var i = 0; i < item.AuthorList.length; i ++) {
						if(i != 0) {
							author_list += ', ';
						}
						author_list += item.AuthorList[i];
					}
					var html = '<p><a href=\'http://www.ncbi.nlm.nih.gov/pubmed/' + item.ArticleIds.pubmed + '\'>' + item.Title + '</a><br/>' + author_list + '<br/>' + item.FullJournalName + ' ' + item.PubDate + '</p>';
					//html += '<form class="suggest_paper"><input type="hidden" name="csrfmiddlewaretoken" value="{{token}}"><input type="submit" value="Suggest Article" id=' + item.ArticleIds.pubmed + ' /><span ></span></form>';
					html += '<form class="suggest_paper"><input type="submit" value="Suggest Article" id=' + item.ArticleIds.pubmed + ' /><span ></span></form>';
					$("<div/>").html(html).appendTo('#result');
					$('#submit_pmid_box').attr('value', item.ArticleIds.pubmed);
					
				});
				parent.$.fancybox.update()
				$('.suggest_paper').submit("click", function(event){
					event.preventDefault(); // cancel the default action
					var form = this;
					var data = {}
					var id = $(this).find('input[type=submit]').attr('id');
					var post_url = '{% url neuroelectro.views.neuron_article_suggest_post neuron.pk %}';
					$(form).find('input').hide();
					$(form).find('span').text("Sending submission to server...");
					$(form).css('color','red');
					console.log(post_url);
					data.pmid = id;
					data.csrfmiddlewaretoken =  '{{ csrf_token }}';
					//console.log(data);
					$.post(post_url,
						data,
						function(responseData) {
							var outputText = responseData.response
							//alert(responseData.response);
							$(form).find('span').text("Article suggested!");
							$(form).css('color','green');
							//$(form).find('input').hide();
							//$("#posttext span").text(outputText);
						}
					);
					event.preventDefault();
				});
			});
		});
	});

</script>

{% endblock %}

{% block navbarstuff %}
{% endblock %}

{% block content %}

	<h3 align='middle'>Please suggest articles containing physiological data on </br>{{neuron.name}}s</h3>
    <form id="pubmed_search">
    {% csrf_token %}
    Pubmed search box: <input type="text" name="our_text" id="textbox"/>
    <input type="submit" value="Search" />
    </br>e.g. Urban NN[auth]
    </form>
    <div id="outputtext"> <span ></span> </div>
    <div id="result">
	</div>
	<!--
    <form id="post_test">
    {% csrf_token %}
    URL: <input type="text" name="our_text" id="postbox"/>
    <input type="submit" value="Add" />
    </form>
    -->
    <br>
{% endblock %}

{% block footer %}
{% endblock %}

