{% extends "neuroelectro/base.html" %}
{% block title %}NeuroElectro :: Neuron Data{% endblock %}
{% block extracss %}
<style type="text/css">
.submit_button{
  margin-left: 50px;
  margin-right: 50px;
}
</style>
{% endblock %}

{% block content %}
<script language="javascript" type="text/javascript">
$(document).ready( function () {
    $(".fancybox").fancybox();
    $('#neuron_ephys_table').dataTable({
        "iDisplayLength": 25
    });
    var oTable = $('#neuron_ephys_table').dataTable();
    oTable.fnSort( [ [1,'asc']] );
} );
</script>

<h1>
    {{ neuron }} 
    {% if neuron.nlex_id %} 
        <a class = "fancybox" href="http://uri.neuinfo.org/nif/nifstd/{{neuron.nlex_id}}"
            data-fancybox-type="iframe">
                (Definition)
        </a>
    {% endif %}
</h1>

<h2>Electrophysiological properties of <i>{{ neuron}}s</i> from literature:</h2>  

 {% include "neuroelectro/neuron_ephys_data_table.html" %}


<table>
  <tr>
        <td style="text-align: center;">
            <a class="btn btn-large btn-info submit_button" href="/neuroelectro/neuron/{{neuron.pk}}/"><i class="fa fa-bar-chart-o"></i> View data in graphical form</i></a>
        </td>
    <td style="text-align: center;">
      <a class="fancybox btn btn-large btn-danger submit_button" data-fancybox-type="iframe" href="/neuroelectro/nedm_comment_box/"><i class="icon-thumbs-down icon-white"></i> Report miscurated data</i></a>
    </td>
  </tr>
</table>

{% endblock %}