{% extends "neuroelectro/base.html" %}
{% block title %}NeuroElectro :: Article Index{% endblock %}
{% block headerIncludes %}
        <script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}src/DataTables/media/js/jquery.js"></script>
        <script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}src/DataTables/media/js/jquery.dataTables.js"></script>
        <style type="text/css" title="currentStyle">
            @import "{{ STATIC_URL }}src/DataTables/media/css/demo_table.css";
        </style>
{% endblock %}

{% block content %}
<script language="javascript" type="text/javascript">
$(document).ready( function () {
    $('.display').dataTable({
        "iDisplayLength": 25
    });
    var oTable = $('.display').dataTable();
    oTable.fnSort( [ [4,'desc']] );

} );
</script>
<h2>Article curation page for {{neuron.name}}</h2>
</br>
<h3>Articles which need to be curated</h3>
    <p>Article title links out to pubmed abstract</p>
    <table class="display" id="article_list_table">
    <thead>
    <tr>
    <th>Article Title</th>
    <th>Authors</th>
    <th>Table Links</th>
    <th>Journal</th>
    <th>Year</th>
    <th>Added By</th>
    </tr>
    </thead>
    <tbody>
    {% for article in articles_un %}
        <tr>
        <td><a href="http://www.ncbi.nlm.nih.gov/pubmed/{{ article.pmid }}/" target="_blank">{{ article.title }}</a>
        </td>
        <td>{{ article.author_list_str }}</td>
        <td>
        {% for datatable in article.datatables %}
        	<a href="/neuroelectro/data_table/{{datatable.pk}}">Table {{forloop.counter}}</a>,
        {% endfor %}
        </td>
        <td>{{ article.journal.short_title }}</td>
        <td>{{ article.pub_year }}</td>
        <td>{{ article.how_added }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
</br>
<h3>Articles with extracted electrophysiology properties</h3>
    <p>Article title links out to pubmed abstract</p>
    <table class="display">
    <thead>
    <tr>
    <th>Article Title</th>
    <th>Authors</th>
    <th>Table Links</th>
    <th>Journal</th>
    <th>Year</th>
    <th>Electrophys values</th>
    <th>Neuron types</th>
    </tr>
    </thead>
    <tbody>
    {% for article in articles_ex %}
        <tr>
        <td><a href="http://www.ncbi.nlm.nih.gov/pubmed/{{ article.pmid }}/" target="_blank">{{ article.title }}</a>
        </td>
        <td>{{ article.author_list_str }}</td>
        <td>
        {% for datatable in article.datatables %}
        	<a href="/neuroelectro/data_table/{{datatable.pk}}">Table {{forloop.counter}}</a>,
        {% endfor %}
        </td>
        <td>{{ article.journal.short_title }}</td>
        <td>{{ article.pub_year }}</td>
        <td>{{article.articlesummary_set.all.0.num_nedms}}</a></td>
        <td>{{article.articlesummary_set.all.0.num_neurons}}</a></td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}
