{% extends "neuroelectro/base.html" %}
{% block title %}NeuroElectro :: Concept Map List{% endblock %}

{% block extracss %}
    <style type="text/css">
    #id_NeuronName {
        width: 500px;
    }
    </style>
{% endblock %}

{% block headerIncludes %}
{#    <script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}src/DataTables/media/js/jquery.js"></script>#}
{#    <script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}src/DataTables/media/js/jquery.dataTables.js"></script>#}
{#    <style type="text/css" title="currentStyle">#}
{#        @import "{{ STATIC_URL }}src/DataTables/media/css/demo_table.css";#}
{#    </style>#}
<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.css">

<!-- jQuery -->
<script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>

<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/plug-ins/1.10.9/sorting/datetime-moment.js"></script>


{% endblock %}

{% block content %}
<script language="javascript" type="text/javascript">
$(document).ready( function () {

    $.fn.dataTable.moment('MMM., D, YYYY, HH:mm A');

    $('#neuron_ephys_table').dataTable({
        "iDisplayLength": 25
    });

    var oTable = $('#neuron_ephys_table').dataTable();
    oTable.fnSort( [ [0,'desc']] );

    // date formatting


} );
</script>

    	{% load crispy_forms_tags %}
	<div class="container">
		<div class='row'>
			<div class='span12'>{% crispy form %}</div>
		</div>
	</div>
	<span id='appearance'></span>
    <p>{{ response }}</p>

    {% if neuron_query %}
        <h4>Neuron Query: {{ neuron_query }}</h4>


<h2>Neurons matching query</h2>

<table id="neuron_ephys_table" class="display">
	<thead>
		<tr>
            <th>Similarity</th>
		    <th>Neuron Type</th>
		    <th>Neuron Long Name</th>
			<th>DataTable</th>
            <th>Article Title</th>
            <th>Authors</th>
            <th>Journal</th>
            <th>Year</th>

            <!--<th>neuroNER IDs</th>-->
		    <th>Neuron Note</th>

		</tr>
	</thead>
	<tbody>
	{% for concept_map in concept_maps %}
    	<tr>
    		<td>
                {{ concept_map.sim_value |floatformat:-2}}
    		</td>
          	<td><a href="/neuron/{{concept_map.neuron.pk}}/" >{{concept_map.neuron}}</a></td>
            <td>{{concept_map.neuron_long_name}}</td>


			<td><a href="/data_table/{{concept_map.source.data_table.pk}}/" >{{concept_map.source.data_table.pk}}</a></td>
            <td><a href="http://www.ncbi.nlm.nih.gov/pubmed/{{ concept_map.source.data_table.article.pmid }}/" target="_blank">{{ concept_map.source.data_table.article.title }}</a>
            </td>
            <td>{{ concept_map.source.data_table.article.author_list_str }}</td>
            <td>{{ concept_map.source.data_table.article.journal.short_title }}</td>
            <td>{{ concept_map.source.data_table.article.pub_year }}</td>
            <td>{{concept_map.note}}</td>

   		</tr>
   		 

{% endfor %}
	</tbody>
</table>

        {% endif %}
{% endblock %}

