{% extends "neuroelectro/base.html" %}
{% block title %}NeuroElectro :: Become Curator{% endblock %}
{% block headerIncludes %}
	<link rel="stylesheet" type="text/css" href="/static/bootstrap_old/css/bootstrap.css"> 
	<style>
		.form-actions {
			background-color: #EEE;
			}
	</style>
{% endblock %}

<script>
$(document).ready(function(){
var first_name = $(#div_id
}
</script>

{% block navbarstuff %}
{% endblock %}

{% block content %}
	<h3>Become a curator for {{neuron.name|lower}}:</h3>
	
	<h4>Please add some additional identifying information</h4>
	{% load crispy_forms_tags %}
	<div class="container">
		<div class='row'>
			<div class='span12'>{% crispy form %}</div>
		</div>  
	</div>
	<span id='appearance'></span>
{% endblock %}

