{% extends "neuroelectro/base.html" %}
{% block title %}NeuroElectro :: Neuron Data{% endblock %}
{% block headerIncludes %}
        <script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}src/DataTables/media/js/jquery.js"></script>
        <script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}src/DataTables/media/js/jquery.dataTables.js"></script>
        <style type="text/css" title="currentStyle">
            @import "{{ STATIC_URL }}src/DataTables/media/css/demo_table.css";
        </style>
{% endblock %}

{% block content %}
<script language="javascript" type="text/javascript">
$(document).ready( function () {
    $('#neuron_ephys_table').dataTable({
        "iDisplayLength": 25
    });
    var oTable = $('#neuron_ephys_table').dataTable();
    oTable.fnSort( [ [1,'asc']] );

} );
</script>

<h1>
    {{ neuron }} 
    {% if neuron.nlex_id %} 
        <a class = "fancybox" href="http://uri.neuinfo.org/nif/nifstd/{{neuron.nlex_id}}"
            data-fancybox-type="iframe">
                (Definition)
        </a>
    {% endif %}
</h1>

<h2>Electrophysiological properties of <i>{{ neuron}}s</i> from literature:</h2>  

<table id="neuron_ephys_table" class="display">
    <thead>
        <tr>
            <th>Neuron Type</th>
            <th>Ephys Prop</th>
            <th>Article</th>
            <th>Extracted Value</th>
            <th>Standardized Value</th>
      		<th>Content Source</th>
            <!-- <th>Error</th>
            <th>n</th> -->
        </tr>
    </thead>
    <tbody>
    {% for nedm in nedm_list %}
        <tr>
            <td><a href="/neuroelectro/neuron/{{ nedm.neuron_concept_map.neuron.id }}/">{{ nedm.neuron_concept_map.neuron.name }}</a></td>
            <td><a href="/neuroelectro/ephys_prop/{{ nedm.ephys_concept_map.ephys_prop.id }}/">{{ nedm.ephys_concept_map.ephys_prop }}</a></td>
            
            <td>
	        {{ nedm.article.title }}
          (<a href="/neuroelectro/article/{{nedm.article.pk}}/" >NeuroElectro data</a>)
          (<a href="http://www.ncbi.nlm.nih.gov/pubmed/{{ nedm.article.pmid }}/" target="_blank">PubMed</a>)
	        </td>
          <td><a href="/neuroelectro/article/{{nedm.article.pk}}/" >{{nedm.val}}</a></td>
          
    		  <td>
            <a href="/neuroelectro/article/{{nedm.article.pk}}/" >
            {% if nedm.val_norm %} 
              {{nedm.val_norm}} ({{nedm.ephys_concept_map.ephys_prop.units}})
            {% else %}
              --
            {% endif %}
            </a>
          </td>
              
          {% if nedm.source.data_table %}
          	<td><a href="/neuroelectro/data_table/{{ nedm.source.data_table.id }}/">Data Table</a></td>
          {% else %}
          	<td>User Submission ({{nedm.added_by}})</a></td>
        {% endif %}
    <!--     <td>{{nel.val_err}}</td>
             <td>{{nel.num_reps}}</td> -->
        </tr>
         
    {% endfor %}
    </tbody>
</table>

{% endblock %}