{% extends "neuroelectro/base.html" %}
{% block title %}NeuroElectro :: Unsubscribe{% endblock %}
{% block headerIncludes %}
<script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}src/DataTables/media/js/jquery.js"></script>
<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.css"> 

<style>
	.form-actions {
	background-color: #EEE;
	}
	
	h1,
	.h1 {
		font-size: 30px;
		margin-left: 30px;
	}
	
	select,
	textarea,
	input[type="email"],
	.uneditable-input {
	  display: inline-block;
	  width: 400px;
	  height: 27px;
	}
</style>
{% endblock %}

{% block javascripts %}
<script>
$(document).ready(function(){
    $('#id-unsubscribeForm').submit("click", function(event){
        event.preventDefault(); // cancel the default action
        var form = this;
        $("#testform").serialize()
        var post_url = '{% url 'neuroelectro.views.unsubscribe' %}';
        console.log(post_url);
        var csrf_token = $('[name="csrfmiddlewaretoken"]').val();
        form['csrf_token'] = csrf_token;
        event.preventDefault();
    });
});
</script>
{% endblock %}

{% block content %}
<h1>Unsubscribe</h1>

{% load crispy_forms_tags %}
<div class="container">
	<div class='row'>
		<div class='span12'>{% crispy form %}</div>
	</div>  
</div>
<span id='appearance'></span>
{% endblock %}