{% extends "neuroelectro/base.html" %}

{% block title %}NeuroElectro :: Page unavailable{% endblock %}

{% block content %}
<h1>Page unavailable</h1>

	<p>Sorry, but the requested page is unavailable due to a
    server hiccup.</p>
    
    <p>Our developers have been notified, so check back later.</p>
    
    <div style="align: middle; text-align:center;">
    <img id="404_image" src="{{ STATIC_URL }}src/neuroelectro_404.jpg" id="404_image" />
    <div class="caption">Illustration courtesy of <a href="http://scholar.google.ca/citations?user=RnSxKAoAAAAJ&hl=en" target="_blank">Krishnan Padmanabhan</a></div>
    
</div>

{% endblock %}